:root {
    --section-max-width: calc(calc(1400 / 16) * 1rem);
    --jedi-yellow: hsl(54, 100%, 56%);
    --jedi-black: hsl(0, 0%, 0%);
}

@font-face {
    font-family: 'Star Wars';
    font-style: normal;
    src: url('/starwars-outer-space/assets/fonts/StarJediRounded-jW3R.woff') format('woff');
}

@font-face {
    font-family: 'Star Wars Outline';
    font-style: normal;
    src: url('/starwars-outer-space/assets/fonts/Starjhol.woff') format('woff');
}

@font-face {
    font-family: 'ITC Serif Gothic';
    font-style: normal;
    src: url('/starwars-outer-space/assets/fonts/ITC\ SerifGothic.woff') format('woff');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--jedi-black);
    color: var(--jedi-yellow);
    text-decoration: underline;
}

html,
body {
    height: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    cursor: url(/starwars-outer-space/assets/images/cursor/light-saber-cursor.png), auto;
}

p,
li {
    font-family: 'ITC Serif Gothic', sans-serif;
    font-size: 1.5rem;
    margin-block: 1rem;
}

ul {
    list-style: url(/starwars-outer-space/assets/images/fighter.png);
    list-style-position: inside;
}

img {
    display: block;
    width: 100%;
}

header {
    min-height: 100vh;

    display: grid;
    place-content: center;
    
    position: relative;
    isolation: isolate;

    background-image: url(/starwars-outer-space/assets/images/space-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header h1 {
    font-family: 'Star Wars Outline', sans-serif;
    text-transform: lowercase;
    font-size: 4rem;
    color: var(--jedi-yellow);
    background-color: var(--jedi-black);
    border-radius: 2rem;
    padding-bottom: 0.1em;
    padding-inline: 0.5em;
}

section {
    min-height: 100vh;
}

.img-border-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    padding: 5rem;
}

.img-border-container img {
    animation: teeter 2s ease-in-out infinite;
    flex: 0 0 auto;
    width: 85px; /* or whatever size you want for the images */
}

@keyframes teeter {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(5deg);
    }
    50% {
      transform: rotate(0deg);
    }
    75% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

section.solar-system-overview {
    display: grid;
    place-content: center;
    gap: 2rem;
    text-align: center;

    position: relative;

    background-image: url(/starwars-outer-space/assets/images/space-8bit-bg.jpg);
    background-size: 100px;
    overflow: hidden;
}

/* Death Star */
section.solar-system-overview::before {
    content: "";
    position: absolute;
    top: 10%;
    right: 10%;
    width: 230px;
    height: 210px;
    background-image: url(/starwars-outer-space/assets/images/death-star.png);
    background-size: cover;
    z-index: 9999;

    animation: hover-animation 2s ease-in-out infinite;
}

@keyframes hover-animation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Star Destroyer */
section.solar-system-overview::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 10%;
    height: 150px;
    width: 500px;
    background-image: url(/starwars-outer-space/assets/images/star-destroyer.png);
    background-size: cover;
    z-index: 9999;
    animation: star-destroyer-move 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes star-destroyer-move {
    0% {
      transform: translateX(-100%);
    }
    25% {
      transform: translateX(25%);
    }
    30% {
      transform: translateX(25%);
    }
    100% {
      transform: translateX(400%);
    }
  }

section.solar-system-overview h2 {
    font-size: 3rem;
    font-family: 'Star Wars', sans-serif;
    text-transform: lowercase;
    color: var(--jedi-yellow);
}

section.solar-system-overview p {
    max-width: var(--section-max-width);
    margin-inline: auto;
    line-height: 2;
}

section.planets h2,
section.moons h2,
section.solar-system-objects h2 {
    font-family: 'Star Wars', sans-serif;
    color: var(--jedi-yellow);
    font-size: 3rem;
    text-align: center;
    padding: 2rem;
    text-transform: lowercase;
}

.planet,
.moon,
.solar-system-objects > article {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    max-width: var(--section-max-width);
    margin-inline: auto;
    margin-block: 7rem;
    gap: 2rem;
}

@media screen and (min-width: 1020px) {
    .planet,
    .moon,
    .solar-system-objects > article {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-block: 7rem;
        gap: 2rem;
    }

}

.planet h3,
.moon h3,
.solar-system-objects h3 {
    font-family: 'Star Wars Outline', sans-serif;
    text-transform: lowercase;
    color: var(--jedi-yellow);
    font-size: 3.4rem;
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

.planet p,
.moon p,
.solar-system-objects p {
    margin-block: 1em;
    text-indent: 1em;
    line-height: 1.3;
}

.planet img,
.moon img,
.solar-system-objects img {
    animation: hover-animation 5s ease-in-out infinite;
    margin: auto;
}

@media screen and (min-width: 1020px) {
    .planet img,
    .moon img,
    .solar-system-objects img {
        margin-left: auto;
    }
}

.solar-system-objects img {
    border-radius: 3rem;
}

.mercury img {
    max-width: calc(calc(147 / 16) * 1rem);
}

.venus img,
.earth img {
    max-width: calc(calc(347 / 16) * 1rem);
}

.mars img {
    max-width: calc(calc(190 / 16) * 1rem);
}

.asteroid-belt {
    width: 100%;
    height: 400px;
    position: relative;
}

.asteroid-belt canvas {
    position: block;
    width: 100%;
    height: 100%;
}

.uranus img {
    max-width: calc(calc(500 / 16) * 1rem);
}

.neptune img {
    max-width: calc(calc(470 / 16) * 1rem);
}

section.moons,
section.solar-system-objects {
    max-width: var(--section-max-width);
    margin-inline: auto;
}

.earth-moon img {
    max-width: calc(calc(127 / 16) * 1rem);
}

.titan img {
    max-width: calc(calc(187 / 16) * 1rem);
}

.europa img {
    max-width: calc(calc(120 / 16) * 1rem);
}

section.solar-system-objects > article {
    height: 100%;
}

footer {
    padding: 5rem;
    background-image: url(/starwars-outer-space/assets/images/space-8bit-bg.jpg);
    background-size: 100px;
    display: grid;
    place-content: center;
    color: var(--jedi-yellow);
    text-align: center;
}

footer p {
    font-size: 1.2rem;
}
